.modal-open {
    background-color: rgba(16, 24, 39, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 803; /* >= NavBar */
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

#root.root-modal-open {
    max-height: 100vh;
}

#root {
    overflow-y: auto;
}
